/.idea
/.vscode
/.vagrant
/node_modules
/public/storage
/public/svg
/public/fonts/vendor
/public/front
/public/back
/public/backoffice
/public/frontoffice
/public/*.js
/storage/*.key
/vendor
.env
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
magick
npm-debug.log
test.php
yarn-error.log
composer.lock
wget-log*
composer.lock
packages.lnk
/public/mix-manifest.json
### ReactNative template
# React Native Stack Base

.expo
__generated__

### react template
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

