$primary: #F1A610;
$accent: #E21E23;
$info: #3A3185;

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1320px);
$container-max-widths: (sm: 540px, md: 750px, lg: 970px, xl: 1320px);

$nprogressColor: $primary;
